@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #f1f5f8;
    height: 100vh;
}

.heading {
    color: black;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 36px;
}

.button {
    height: 46px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 10px;
}

.counterclass {
    color: #c20a72;
}